[build]
  command = "yarn build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "22"
  SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_SUPABASE_URL,NEXT_PUBLIC_BASE_URL"

[[plugins]]
  package = "@netlify/plugin-nextjs"
